In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
%matplotlib inline

[('Plant', 'NN')]

## Predicting the Genre of Books from Summaries

We'll use a set of book summaries from the [CMU Book Summaries Corpus](http://www.cs.cmu.edu/~dbamman/booksummaries.html) in this experiment.  This contains a large number of summaries (16,559) and includes meta-data about the genre of the books taken from Freebase.  Each book can have more than one genre and there are 227 genres listed in total.  To simplify the problem of genre prediction we will select a small number of target genres that occur frequently in the collection and select the books with these genre labels.  This will give us one genre label per book. 

Your goal in this portfolio is to take this data and build a predictive model to classify the books into one of the five target genres.  You will need to extract suitable features from the texts and select a suitable model to classify them. You should build at least one model but you could build two and compare the results if you have time.

You should report on each stage of your experiment as you work with the data.

## Data Preparation

The first task is to read the data. It is made available in tab-separated format but has no column headings. We can use `read_csv` to read this but we need to set the separator to `\t` (tab) and supply the column names.  The names come from the [ReadMe](data/booksummaries/README.txt) file.

In [18]:
names = ['wid', 'fid', 'title', 'author', 'date', 'genres', 'summary']

books = pd.read_csv("data/booksummaries/booksummaries.txt", sep="\t", header=None, names=names, keep_default_na=False)
books.head()

,wid,fid,title,author,date,genres,summary
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,,,The argument of the Enquiry proceeds by a ser...
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

We next filter the data so that only our target genre labels are included and we assign each text to just one of the genre labels.  It's possible that one text could be labelled with two of these labels (eg. Science Fiction and Fantasy) but we will just assign one of those here.

In [19]:
target_genres = ["Children's literature",
                 'Science Fiction',
                 'Novel',
                 'Fantasy',
                 'Mystery']

# create a Series of empty strings the same length as the list of books
genre = pd.Series(np.repeat("", books.shape[0]))

# look for each target genre and set the corresponding entries in the genre series to the genre label
for g in target_genres:
    genre[books['genres'].str.contains(g)] = g

# add this to the book dataframe and then select only those rows that have a genre label
# drop some useless columns
books['genre'] = genre
genre_books = books[genre!=''].drop(['genres', 'fid', 'wid'], axis=1)

genre_books.shape

(8954, 5)

In [15]:
# check how many books we have in each genre category
genre_books.groupby('genre').count()

                       title  author  date  summary
genre
Children's literature   1092    1092  1092     1092
Fantasy                 2311    2311  2311     2311
Mystery                 1396    1396  1396     1396
Novel                   2258    2258  2258     2258
Science Fiction         1897    1897  1897     1897

## Modelling

Now you take over to build a suitable model and present your results

In [78]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.datasets import make_classification
#from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
y = genre_books['genre']
X = genre_books.drop(['genre'], axis=1)

In [17]:
#add the title and author to the summary
X["summary"] = X.loc[:, "summary"].str.cat(X.loc[:, "title"], sep=" ").str.cat(X.loc[:, "author"].str.replace(" ", ""), sep=" ")

In [99]:
# produce a word count matrix

from sklearn.feature_extraction.text import CountVectorizer
countV = CountVectorizer(max_df=0.1, min_df=8) 
# max: ignore words in 70% of docs; ignore words that exist in 1 doc only

Xt = countV.fit_transform(X.summary)
print("X (transformmed)", Xt.shape)

X (transformmed) (8954, 17330)

In [100]:
word_list = countV.get_feature_names()

In [101]:
# create sorted word counts to inspect

#count_list = X_train_counts.toarray().sum(axis=0) #too slow
count_list = np.asarray(Xt.sum(axis=0))[0]
count_list = zip(word_list, count_list)
sorted_count_list = sorted(count_list, key=lambda x: x[1])
print("Least common words:")
print(sorted_count_list[:20])
print("Most common words:")
print(sorted_count_list[-20:])

Least common words:
[('12th', 8), ('130', 8), ('1857', 8), ('1870s', 8), ('1910', 8), ('1924', 8), ('1925', 8), ('1935', 8), ('1981', 8), ('46', 8), ('4th', 8), ('54', 8), ('666', 8), ('96', 8), ('abbreviated', 8), ('abject', 8), ('abnormal', 8), ('acceleration', 8), ('accountable', 8), ('admiring', 8)]
Most common words:
[('relationship', 1293), ('says', 1304), ('land', 1353), ('lord', 1359), ('husband', 1362), ('forces', 1375), ('humans', 1401), ('island', 1407), ('john', 1430), ('parents', 1436), ('money', 1447), ('magic', 1485), ('party', 1493), ('black', 1499), ('army', 1616), ('room', 1624), ('mrs', 1645), ('planet', 2012), ('mr', 2352), ('king', 2642)]

The least common words contain numbers which won't be very good predictors, unless they are dates which could be some historical significance in a novel or some futuristic date for a science fiction story.

In [91]:
#exclude numbers, except for dates
word_series = pd.Series(word_list)
words_containing_numbers = wcn = word_series[word_series.str.match(r'\d')]
print("Words containing numbers: ", len(words_containing_numbers))
date_words = wcn[wcn.str.match(r'([12][8901]\d{2})|(\d{1,2}(st|nd|rd|th))')] #1800, 1906, 21st, 2nd etc..
stop_words = set(wcn).difference(set(date_words))

Words containing numbers:  0

In [106]:
countV = CountVectorizer(stop_words=stop_words, max_df=0.1, min_df=8)
Xt = countV.fit_transform(X.summary)
Xt.shape

(8954, 17330)

In [107]:
# apply term frequency * inverse document frequency
from sklearn.feature_extraction.text import TfidfTransformer
#term frequency * inverse document frequency

tfidf_transformer = TfidfTransformer()
Xtt = tfidf_transformer.fit_transform(Xt)
Xtt.shape

(8954, 17330)

In [108]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
scores = cross_val_score(MultinomialNB(), Xtt, y, scoring='accuracy', cv=10)
print('Gaussian Naive Bayes accuracy: %.4f +- %.4f\n' % (scores.mean(), scores.std()))

Gaussian Naive Bayes accuracy: 0.6365 +- 0.0301

In [109]:
# try without Tfidf transformation
NBmodel = MultinomialNB(alpha=1)
scores = cross_val_score(NBmodel, Xt, y, scoring='accuracy', cv=10)
print('Training accuracy: %.2f +- %.2f\n' % (scores.mean(), scores.std()))

Training accuracy: 0.68 +- 0.02

In [110]:
#Final model evaluation
from sklearn.metrics import confusion_matrix
NBmodel = MultinomialNB()
X_train, X_test, y_train, y_test = train_test_split(Xt, y, test_size=0.1, random_state=42)
NBmodel.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [111]:
y_train_pred = NBmodel.predict(X_train)

train_score = accuracy_score(y_train, y_train_pred)
train_matrix = confusion_matrix(y_train, y_train_pred)
print(train_score)

0.8273765202283445

In [112]:
y_test_pred = NBmodel.predict(X_test)

test_score = accuracy_score(y_test, y_test_pred)
test_matrix = confusion_matrix(y_test, y_test_pred)
print(test_score)
print(test_matrix)

0.6729910714285714
[[ 59  16  11  16   3]
 [ 18 150  11  21  23]
 [  9   4  93  18   7]
 [ 23   9  24 151  38]
 [  6  14   8  14 150]]

In [16]:
#nltk.download("punkt")
#nltk.download('averaged_perceptron_tagger')
#nltk.download('tagsets')
text = nltk.word_tokenize("And now for something completely different")
nltk.pos_tag(["Plant"])

[('Plant', 'NN')]

In [23]:
tokenized_words = genre_books.summary.transform([nltk.word_tokenize])

In [25]:
part_of_speech = tokenized_words.transform([nltk.pos_tag])

In [30]:
test = part_of_speech